/* site color palette*/
:root {
    --plum: #5e0e59;
    --mauve: #94437a;
    --rose: #c78197;
    --beige-pink: #d6aba0;
    --cream: #fce9d7;
}

/* BASE STYLING */

body {
    background-color: var(--cream);
}

.layout, .recipe-layout {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.main-content, .recipe-main-content {
    flex: 70%;
}

.sidebar {
    flex: 30%;
    margin-top: 3rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: 1px solid var(--rose);
}

.recipe-sidebar {
    flex: 30%;
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: 1px solid var(--rose);
}

h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.recipeh1 {
    padding-bottom: 1rem;
}

h1, h2 {
    font-family: "Kaushan script", cursive;
    font-weight: 400;
}

.h2small {
    font-family: "Monaco", monospace;
    font-size: 1.5rem;
}

.h2small-card {
    font-family: "Monaco", monospace;
    font-size: 1.5rem;
    margin-bottom: 0;
}

p, ul, ol {
    font-family: "Monaco", monospace;
}

hr {
    color:#c78197; 
    opacity: 100%;
}


/* NAVBAR + FOOTER */

.my-navbar {
    background-color: var(--plum);
}

.my-nav-text {
    color: white;
    font-family: "Monaco", monospace;
}

.nav-link:hover {
    color: var(--rose)
}

.my-navbar .navbar-nav {
  margin-left: 2rem;
    gap: 1.5rem;
}

.navbar-toggler-icon {
  filter: invert(100%);
}


.footer {
    background-color: var(--plum);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.footer-left {
    flex: 1;
}

.footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.footer-right label, .footer-right button {
    display: block;
    margin-bottom: 0.5rem;
}

/* HOMEPAGE SPECIFIC */

.about {
    padding: 1rem;
    justify-items: center;
    text-align: center;
}


.spoonbox {
    max-width: 96%;
    margin: 0 auto;
    border-radius: 35px;
    display: flex;
    align-items: flex-start;
    background-color: var(--rose);
    padding: 10px;
    align-items:center;
    gap: 1rem;
}

.spoonbox p {
    max-width: 80%; 
    word-wrap: normal;
}

.spoon-img {
    max-width: 23%;
    height: auto;
    border-radius: 2rem;
}

.spoonlink {
    color: var(--plum)
}

.spoonlink:hover {
    color: var(--mauve)
}

.recipes {
    padding: 1rem;
    justify-items: center;
    text-align: center;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.card {
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
}

.card:hover {
    background-color: var(--rose);
    transition: 0.5s ease;
}

.card-img {
    max-width: 100%;
    height: auto;
}


/* RECIPE PAGE SPECIFIC */

.recipeabout {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    max-width: 75%;
    margin: 0 auto;
}

.comingsoon {
    max-width: 70%;
    margin: 0 auto;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--rose);
    padding: 10px;
    align-items:center;
    gap: 1rem;
    text-align: center;
}

.collapsible {
    background-color: var(--rose);
    transition: background-color 0.5s ease;
    color: black;
}

.collapsible:hover {
    background-color: var(--mauve);
    color: black;
}

.btn-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    margin-top: 1rem;
    padding-left: 1rem;
}

.recipe-intro {
    max-width: 60%;
    margin: 0 auto;
    justify-items: center;
    text-align: center;
}

.exampleimg {
    max-width: 70%;
    height: auto;
}


/* MEDIA QUERIES */

/* phone homepage */

@media (max-width: 576px) {
.spoon-img {
    display: none;
}

.spoonbox {
    text-align: center;
}

.spoonbox p {
    max-width: 100%;
}

.spoonbox ul {
    display: inline-block;
    text-align: left;
}

.sidebar {
    display: none;
}

.recipe-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    max-width: 90%;
    height: auto;
}

.footer {
    flex-direction: column;
}

}

/* phone recipe pages */

@media (max-width: 576px) {
.recipe-layout {
    flex-direction: column;
}

 .recipe-main-content, .recipe-sidebar {
    width: 90%;
}

.recipeabout, .comingsoon, .recipe-intro {
    max-width: 85%;
}

.recipe-sidebar {
    border-left: none;
    padding-left: 0;
}

.exampleimg {
    max-width: 85%;
    height: auto;
}

}


/* tablet homepage */

@media (max-width: 900px) and (min-width: 577px) {
.spoon-img {
    display: none;
}

.spoonbox {
    text-align: center;
}

.spoonbox p {
    max-width: 100%;
}

.spoonbox ul {
    display: inline-block;
    text-align: left;
}

.sidebar {
    display: none;
}
}

/* tablet recipe pages */

@media (max-width: 900px) and (min-width: 577px) {
 .recipe-layout {
    flex-direction: column;
    }

.recipe-main-content, .recipe-sidebar {
    width: 90%;
    }

.recipeabout, .comingsoon {
    width: 100%
}

.recipe-sidebar {
    border-left: none;
    padding-left: 0;
    }
}


/* specific header flourish that breaks on some phone sizes */

@media (max-width: 390px) {
    .flourish {
        display: none;
    }
}